@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h3 {
  font-weight: 900;
}

h5 {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #e9ebee;
}

strong {
  font-weight: 900;
}

a:hover,
a:focus {
  text-decoration: none;
}

.m10 h5 {
  margin-left: 5px;
}

.btn-more {
  background: #703938;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  margin-bottom: 25px;
}

.btn-more:hover {
  color: #fff;
}

.load {
  padding: 100px 0;
  width: 100%;
}

.load>div {
  margin: 0 auto;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #182624;
}

.section-pad {
  padding: 100px 0;
}

.header-area {
  text-align: center;
  padding: 50px 0;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(24,38,36,1);
  background-color: -moz-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(24,38,36,1)), color-stop(100%, rgba(20,31,31,1)));
  background-color: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -o-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -ms-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: radial-gradient(ellipse at center, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182624', endColorstr='#141f1f', GradientType=1 );
}

.logo img {
  width: 120px;
  -webkit-animation: launch 1s ease-in 0s infinite alternate ;
 animation: launch 1s ease-in 0s infinite alternate ;
}

.logo p {
  color: #fcf1df;
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.logo p strong {
  font-weight: 900;
}

@-webkit-keyframes launch {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(15px);
	transform: translateY(15px);
  }
}

@keyframes launch {
  0%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(15px);
  }
}

.countdown {
  padding: 100px 0;
}

.countdown h4 {
  text-transform: uppercase;
  color: #fcf1df;
}

.countdown .time {
  font-size: 62px;
  font-weight: 900;
}

.time li {
  display: inline-block;
  margin: 0 10px;
  color: #f1dec2;
}

.time li strong {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  background: #182624;
  padding: 2px 5px;
  border-radius: 4px;
}

.item {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  background: #fff;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 5px 30px hsla(224,8%,64%,.25);
}

.item:hover {
  text-decoration: none;
  color: #333;
}

.item h4 {
  font-weight: 900;
}

.arc-launch .item {
  background: none;
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.single {
  color: #333;
  padding: 15px 25px;
  background: #fff;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 5px 30px hsla(224,8%,64%,.25);
}

.intro {
  padding: 100px 0;
}

.intro h2 {
  display: inline-block;
  background-color: #bcae97;
  padding: 5px 15px;
  border-radius: 4px;
}

.info {
  margin: 15px 0;
}

.info img {
  width: 100%;
}

.content {
  background-image: url('./content-foot.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.footer-area {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 50px 0;
  padding-bottom: 100px;
  color: #fcf1df;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgba(24,38,36,1);
  background-color: -moz-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(24,38,36,1)), color-stop(100%, rgba(20,31,31,1)));
  background-color: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -o-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: -ms-radial-gradient(center, ellipse farthest-corner, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  background-color: radial-gradient(ellipse at center, rgba(24,38,36,1) 0%, rgba(20,31,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182624', endColorstr='#141f1f', GradientType=1 );
}
